* {
  box-sizing: border-box;
  text-wrap: wrap;
}

body {
  margin: 1rem;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ddd;

}

body>* {
  width: 100%;
  max-width: 720px;
  margin: 1.2rem auto;
}

li {
  margin: 1.2rem auto;
}

a {
  text-decoration: none;
  padding-inline: 0.5rem;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}